.photo-grid {
  max-width: 1184px;
  margin: 92px auto 0;
  display: grid;
  /* grid-template-columns: repeat(3, minmax(auto, 1fr)) / repeat(4, minmax(auto, 1fr)); */
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  gap: 16px;
  justify-items: center;
}

@media screen and (max-width: 960px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .photo-grid {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
  }
}
