.place__text {
  grid-area: text;
  margin-top: 8px;
  min-width: 300px;
}

@media screen and (max-width: 1024px) {
  .place__text {
    margin-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    margin-top: 32px;
  }
}
