.lead__main-img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}
/* 
@media screen and (max-width: 1024px) {
  .lead__main-img {
    max-width: 928px;
    margin: 56px auto 0;
  }
} */
