.lead__travel-line {
  position: absolute;
  top: 154.21px;
  left: 23.27px;
  max-width: 100%;
  min-width: 320px;
}

@media screen and (max-width: 1024px) {
  .lead__travel-line {
    max-width: 883px;
    top: 141px;
    left: 22px;
  }
}
