.lead__travel-line {
  position: absolute;
  top: 154.21px;
  left: 23.27px;
}

@media screen and (max-width: 1024px) {
  .lead__travel-line {
    max-width: 883px;
    top: 141px;
    left: 22px;
  }
}

@media screen and (max-width: 950px) {
  .lead__travel-line {
    max-width: 800px;
    left: 50px;
  }
}

@media screen and (max-width: 870px) {
  .lead__travel-line {
    max-width: 750px;
    left: 45px;
  }
}

@media screen and (max-width: 820px) {
  .lead__travel-line {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .lead__travel-line {
    max-width: 650px;
    top: 126px;
    left: 42px;
  }
}

@media screen and (max-width: 720px) {
  .lead__travel-line {
    max-width: 600px;
  }
}

@media screen and (max-width: 675px) {
  .lead__travel-line {
    max-width: 550px;
  }
}

@media screen and (max-width: 620px) {
  .lead__travel-line {
    max-width: 500px;
  }
}

@media screen and (max-width: 570px) {
  .lead__travel-line {
    max-width: 450px;
  }
}

@media screen and (max-width: 520px) {
  .lead__travel-line {
    max-width: 400px;
  }
}

@media screen and (max-width: 470px) {
  .lead__travel-line {
    max-width: 370px;
    left: 40px;
  }
}

@media screen and (max-width: 440px) {
  .lead__travel-line {
    left: 32px;
  }
}

@media screen and (max-width: 420px) {
  .lead__travel-line {
    max-width: 320px;
  }
}

@media screen and (max-width: 370px) {
  .lead__travel-line {
    max-width: 300px;
    left: 28px;
  }
}

@media screen and (max-width: 350px) {
  .lead__travel-line {
    left: 20px;
  }
}

@media screen and (max-width: 340px) {
  .lead__travel-line {
    max-width: 280px;
    top: 69px;
  }
}
